.container {
    max-width: 900px;
    max-height: 821px;
    padding: 62px 110px;
    background-color: rgb(255, 255, 255);
    border-radius: 24px;
}

@media (max-width: 550px) {
    .container {
        padding: 22px 20px;
    }
}